
<div class="breadcrumb">
    <h1>Category Management</h1>
    <ul>
        <li><a href="">Dashboard</a></li>
        <li>Version 1</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>


<div ng-if="showlist==true">
    <div style="text-align:right" class="col-md-4">
        <select ng-model="projectid" data-ng-change="getCategoryByProjectID(projectid)" style="margin-bottom:10px;" class="form-control">
            <option selected value="0">- Select Project -</option>
            <option ng-repeat="pr in ListOfProjects" value="{{pr.projectID}}" ng-selected="pr.projectID == projectID">{{pr.name}}</option>
        </select>
    </div>


    <button data-ng-click="addnewcategory()" type="button" class="btn btn-success m-1"> <i class="fa fa-plus"></i> Add Category</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Category Description
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tr ng-repeat="obj in ListOfCategories">
            <td>
                {{obj.name}}
            </td>

            <td>
                {{obj.description}}
            </td>


            <td>
                <button ng-click="openEditModal(obj)" type="button" class="btn btn-primary btn-sm m-1"><i class="fa fa-pencil"></i> Edit</button>
                <!--<button ng-click="deleteCategory(obj.projectID)" type="button" class="btn btn-danger btn-sm m-1"><i class="fa fa-trash-o"></i> Delete</button>-->
            </td>


        </tr>
    </table>
</div>


<form ng-if="showlist==false" class="form-login" role="form">


    <div class="form-group">
        <label>Name </label>
        <input type="text" class="form-control" placeholder="Name" data-ng-model="Category.name" required autofocus>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="Description" data-ng-model="Category.description" required>
    </div>

    <div class="form-group">
        <label>Project</label>
        <select ng-model="projectid" data-ng-change="getCategoryByProjectID(projectid)" style="margin-bottom:10px;" class="form-control">
            <option selected value="0">- Select Project -</option>
            <option ng-repeat="pr in ListOfProjects" value="{{pr.projectID}}" ng-selected="pr.projectID == projectID">{{pr.name}}</option>
        </select>
    </div>


    <button ng-if="isEditing == false" class="btn btn-primary m-1" type="submit" data-ng-click="saveCategory()"> <i class="fa fa-check"></i> Save</button>

    <button ng-if="isEditing == true" class="btn btn-primary m-1" type="submit" data-ng-click="updateCategory()"> <i class="fa fa-check"></i> Update</button>

    <button data-ng-click="showcategorylist()" type="button" class="btn btn-dark m-1"><i class="fa fa-times"></i> Cancel</button>

</form>

<div class="modal fade" id="customermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle-2">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Type Your Customer </label>
                    <input data-ng-model="Customerobject.Name" type="text" class="form-control" name="name" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="saveNewCustomer()" data-ng-disabled="Customerobject.Name==''" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    label {
        width: 100%;
    }
</style>


