

<div class="breadcrumb">
    <h1>Expense Management </h1>
    <ul>
        <li><a href="">Dashboard</a></li>
      
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div ng-if="showlist==true">

    <div class="row">
        <div class="col-md-3">
            <button data-ng-click="addnewexpense()" type="button" class="btn btn-success m-1"> <i class="fa fa-plus"></i> Add Expense</button>
        </div>

        <div style="text-align:center;" class="col-md-6 form-inline">
            <div class="form-group">
                <label style="width:auto; margin-right:7px;">Select Project</label>
                <select ng-model="projectid" data-ng-change="getExpenseByProjectID(projectid)" style="margin-bottom:10px;" class="form-control">
                    <option selected value="0">- Select Project -</option>
                    <option ng-repeat="pr in ListOfProjects" value="{{pr.projectID}}" ng-selected="pr.projectID == projectID">{{pr.name}}</option>
                </select>
            </div>
            


        </div>

        <div style="text-align:right" class="col-md-3">
            <input class="form-control" placeholder="Type to Search" type="text" data-ng-model="search" name="name" value="" /> 
        </div>
    </div>
  
    <div style="overflow-x:scroll">
        <table id="myTable" class="table table-striped table-bordered dt-responsive">
            <thead>
                <tr>

                    <th ng-click="sort('projectName')">
                        Name
                        <i class="fa" ng-show="sortKey=='projectName'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></i>
                    </th>

                    <th ng-click="sort('assetName')">
                        Assets
                        <i class="fa" ng-show="sortKey=='assetName'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></i>
                    </th>

                    <th ng-click="sort('totalAmount')">
                        Amount
                        <i class="fa" ng-show="sortKey=='totalAmount'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></i>
                    </th>
                    <th>
                        Receipt
                    </th>
                    <th ng-click="sort('supplierName')">
                        Supplier Name
                        <i class="fa" ng-show="sortKey=='supplierName'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></i>
                    </th>

                    <th ng-click="sort('description')">
                        Description
                        <i class="fa" ng-show="sortKey=='description'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></i>
                    </th>



                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tr ng-repeat="obj in ListOfExpenses |orderBy:sortKey:reverse|filter:search">
                <td>
                    {{obj.projectName}}
                </td>

                <td>
                    {{obj.assetName}}
                </td>

                <td>
                    {{obj.totalAmount}}
                </td>
                <td>



                    <img ng-if="obj.receiptPath==''" style="height:50px; width:50px;" src="https://static.thenounproject.com/png/220984-200.png" alt="Alternate Text" />
                    <a data-ng-click="makezoom(obj.receiptPath)">
                        <img ng-if="obj.receiptPath!=''" style="height:50px; width:50px;" src="{{obj.receiptPath}}" alt="Alternate Text" />
                    </a>
                </td>

                <td>
                    {{obj.supplierName}}
                </td>
                <td>
                    {{obj.description}}
                </td>

                <td>
                    <!--<button ng-click="getProjectByID(obj.ProjectID)" type="button" class="btn btn-primary btn-sm m-1"><i class="fa fa-pencil"></i> GetByID</button>-->
                    <button ng-click="openEditModal(obj)" type="button" class="btn btn-primary btn-sm m-1"><i class="fa fa-pencil"></i> Edit</button>
                    <!--<button ng-click="deleteProject(obj.ProjectID)" type="button" class="btn btn-danger btn-sm m-1"><i class="fa fa-trash-o"></i> Delete</button>-->
                </td>
            </tr>
        </table>
    </div>
  
    
   
</div>



<div ng-if="showlist==false">
    <form name="Expenceform">

        <div class="row">


            <div class="col-md-6">
                <div class="form-group">
                    <label>Project Name </label>

                    <select ng-change="getdatabyid(Expense.ProjectID)" ng-model="Expense.ProjectID" class="form-control">
                        <option selected value="">- Select Project -</option>
                        <option ng-repeat="pr in ListOfProjects" value="{{pr.projectID}}" ng-selected="pr.projectID == projectID">{{pr.name}}</option>
                    </select>


                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" class="form-control" placeholder="Amount" data-ng-model="Expense.Amount" required>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Refrence</label>
                    <input type="text" class="form-control" placeholder="Refrence" data-ng-model="Expense.Refrence">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label> Select Supplier <a data-ng-click="newsupplier()" style="cursor:pointer;float:right">New</a></label>

                    <select class="form-control" data-ng-model="Expense.SupplierID">
                        <option selected value="">- Select Supplier -</option>
                        <option data-ng-repeat="supp in suppliers" value="{{supp.supplierID}}" ng-selected="supp.supplierID == Expense.SupplierID">{{supp.name}}</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>IsApproved</label>
                    <input type="text" class="form-control" placeholder="IsApproved" data-ng-model="Expense.IsApproved">
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>select Asset <a data-ng-click="newasset()" style="cursor: pointer; float: right">New</a></label>

                    <select class="form-control" data-ng-model="Expense.AssetID">
                        <option selected value="">- Select Asset -</option>
                        <option data-ng-repeat="as in assets" value="{{as.assetID}}" ng-selected="as.assetID == Expense.AssetID">{{as.name}}</option>
                    </select>


                </div>
                <div class="form-group">
                    <label> Select Category  <a data-ng-click="newcategory()" style="cursor: pointer; float: right">New</a></label>

                    <select class="form-control" data-ng-model="Expense.CategoryID">
                        <option selected value="">- Select Category -</option>
                        <option data-ng-repeat="cat in categories" value="{{cat.categoryID}}" ng-selected="cat.categoryID == Expense.CategoryID">{{cat.name}}</option>
                    </select>


                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" data-ng-model="Expense.Description" required>
                </div>

            </div>
            <div class="col-md-6">
                <label>Receipt</label>
                <div class="dropzone" id="single-file-upload">
                    <div class="fallback">
                        <input type="file" id="fileName" multiple name="fileName" style="cursor:pointer" value="" />
                        <img ng-if="Expense.ReceiptPath!=''" alt="Choose Image" id="showUploaded" style="width:89px;height:90px" src="{{Expense.ReceiptPath}}" />

                        <img ng-if="Expense.ReceiptPath==''" alt="Choose Image" id="showUploaded" style="width:89px;height:90px" src="https://static.thenounproject.com/png/220984-200.png" />
                        
                        <button ng-if="isEditing == true" ng-click="removeImage()">Update Image</button>
                    </div>
                </div>
            </div>
        </div>

        <button ng-disabled="(projectID == '' || projectID == null) || (Expense.AssetID == '' || Expense.AssetID == null) || (Expense.CategoryID == '' || Expense.CategoryID == null) || (Expense.Amount == '' || Expense.Amount == null)" ng-if="isEditing == false" class="btn btn-primary m-1" type="submit" data-ng-click="saveExpense()"><i class="fa fa-check"></i> Save</button>
        <button ng-disabled="(projectID == '' || projectID == null) || (Expense.AssetID == '' || Expense.AssetID == null) || (Expense.CategoryID == '' || Expense.CategoryID == null) || (Expense.Amount == '' || Expense.Amount == null)" ng-if="isEditing == true" class="btn btn-primary m-1" type="submit" data-ng-click="updateExpense()"><i class="fa fa-check"></i> Update</button>
        <button type="button" data-ng-click="showexpenselist()" class="btn btn-dark m-1"><i class="fa fa-times"></i> Cancel</button>

    </form>
</div>

   


  <!-- Modal -->
<div class="modal fade" id="categorymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle-2">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Type Your category</label>
                    <input data-ng-model="Categoryobject.Name" type="text" class="form-control" name="name" value="" />   
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="saveNewCategory()" data-ng-disabled="Categoryobject.Name==''" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="assetmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Type Your Asset Name</label>
                    <input data-ng-model="Assetobject.Name" type="text" class="form-control" name="name" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="saveNewAsset()" data-ng-disabled="Assetobject.Name==''" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="suppliermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle-2">Add Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Type Your Supplier</label>
                    <input data-ng-model="Supplierobject.Name" type="text" class="form-control" name="name" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="saveNewSupplier()" data-ng-disabled="Supplierobject.Name==''" type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle-2">Receipt</h5>

            </div>
            <div class="modal-body">
                <img src="{{enlargeimage}}" alt="Alternate Text" />
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>



<style>
    label
    {
        width:100%;
    }
</style>
